*
!/autokey/
!/autokey/data/
!/autokey/data/motions/
!/autokey/data/motions/.down_s-j.json
!/autokey/data/motions/down_s-j.py
!/autokey/data/motions/.folder.json
!/autokey/data/motions/.left_s-h.json
!/autokey/data/motions/left_s-h.py
!/autokey/data/motions/.right_s-l.json
!/autokey/data/motions/right_s-l.py
!/autokey/data/motions/.up_s-k.json
!/autokey/data/motions/up_s-k.py
!/copyq/
!/copyq/copyq_tab_Q0pL.dat
!/copyq/copyq_tab_VW5pY29kZQ==.dat
!/copyq/copyq.conf
!/fontconfig/
!/fontconfig/10-symbols.conf
!/gtk-3.0/
!/gtk-3.0/gtk.css
!/mcomix/
!/mcomix/keybindings-gtk.rc
!/mcomix/keybindings.conf
!/mcomix/preferences.conf
!/mpv/
!/mpv/input.conf
!/mpv/input.conf.defaults
!/mpv/mpv.conf
!/mpv/mpv.conf.example
!/mpv/scripts/
!/mpv/scripts/menu.lua
!/mpv/scripts/playlistmanager.lua
!/mpv/script-opts/
!/mpv/script-opts/menu.conf
!/mpv/script-opts/playlistmanager.conf
!/mpv/script-opts/stats.conf
!/openbox/
!/openbox/lubuntu-rc.xml
!/openbox/lxde-rc.xml
!/powershell/
!/powershell/Microsoft.PowerShell_profile.ps1
!/ranger/
!/ranger/rc.conf
!/smplayer/
!/smplayer/smplayer.ini
!/surfraw/
!/surfraw/conf
!/vlc/
!/vlc/vlcrc
!/xfce4/
!/xfce4/xfconf/
!/xfce4/xfconf/xfce-perchannel-xml/
!/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!/zathura/
!/zathura/zathurarc
!mimeapps.list
!README.md
!.gitignore